<html>
<head>
    <title>Project Trello</title>
</head>
<body>
    <p align="right"><a href="/Members/">Members</a></p>
    <hr>
    <h1>Board</h1>
    <form action="/request/" method="post">
        <input type="text" name="board_name" value="{{ board.name }}" size="10" style="font-size:25px">
        <input type="hidden" name="board_id" value="{{ board.id }}">
        <input type="submit" name="rename_board" value="Rename">
        <input type="submit" name="delete_board" value="Delete board">
    </form>
    <hr>
    {% if nlists %}
    Lists
    <table>
        {% for list in lists %}
        <tr>
            <form action="/request/" method="post">
                <td><a href="Lists/{{ list.id }}/">{{ list.name }}</a></td>
                <input type="hidden" name="board_id" value="{{ board.id }}">
                <input type="hidden" name="list_id" value="{{ list.id }}">
                <td><input type="submit" name="list_up" value="up"></td>
                <td><input type="submit" name="list_down" value="down"></td>
            </form>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <p><a href="new_list/">create new list</a></p>
    <p><a href="/">Home</a></p>
</body>
</html>
